<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!---->
  <script src="/js/jquery.min.js" defer></script>
  <script src="/js/popper.min.js" defer></script>
  <script src="/js/bootstrap.js" defer></script>
  <script src="/js/user-popover.js" defer></script>
  <!---->
</head>
<body>
<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BOOK-HUB</a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/main">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/books">Все книги</a>
      </li>
      <li>
        <a class="nav-link"  href="/books/my">Мои книги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/authors">Все авторы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/people">Все пользователи</a>
      </li>
    </ul>
    <div class="flex-center">
      <div th:if="${user == null}">
        <a href="/auth/login" class="btn btn-outline-primary btn-sm">Вход</a>
        <a href="/auth/registration" class="btn btn-primary btn-sm">Регистрация</a>
      </div>
      <div th:if="${user != null}" class="flex-center user-info">

        <div class="popover-parent">
          <!--                    -->
          <div class="popover-child is-hidden">
            <ul>
              <li class="popover-child__list-item flex-center">
                <a th:href="@{/people/{id}(id=${user.getId()})}" class="full-size flex-center popover-child__list-item-link">Профиль</a>
              </li>
              <li class="popover-child__list-item flex-center">
                <form th:method="post" th:action="${'/logout'}" class="full-size flex-center">
                  <input type="submit" th:value="Выйти"
                         class="btn btn-link pb-0 pt-0 full-size flex-center popover-child__list-item-link">
                </form>
              </li>

            </ul>
          </div>
          <!--                    -->
          <img th:src="@{/person-storage/{key}/(key=${user.getLastPersonImage().getKey()})}"
               class="avatar-img">
        </div>
        <div class="user-info__full-name">
          <span th:text="${user.getName()}" class="popover-child__name"></span>
          <span th:text="${user.getSurname()}" class="popover-child__surname"></span>
        </div>
      </div>

    </div>
  </div>
</nav>
<!---->
<main class="container">
  <h2>Страница с информацией о книге</h2>
  <!---->
  <div>
    <span th:text="${book.getName()}"></span>,
    <span th:text="${book.getYear()}"></span>
    <ul th:each="author : ${book.getAuthors()}">
      <li th:text="${author.getName()}"></li>
    </ul>
  </div>
  <!---->
  <hr>
  <!---->
  <div th:if="${person_owner}">
    <p>Книга сейчас у:
      <span th:text="${person_owner.getFullName()}"></span>,
      <span th:text="${person_owner.getBirthdayYear()}"></span>
    </p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
      <input type="submit" value="Освободить книгу"/>
    </form>
  </div>
  <!---->
  <div th:unless="${person_owner}">
    <p>Эта книга сейчас свободна. Кому назначить её?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
      <span>Выберите человека: </span>
      <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}"
                th:value="${person.getId()}"
                th:text="${person.getFullName()}">
        </option>
      </select>
      <input type="submit" value="Назначить книгу"/>
    </form>
  </div>
  <!---->
  <hr>
  <!---->
  <form th:method="GET" th:action="@{/books/{id}/edit/(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
  </form>
  <!---->
  <form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
  </form>
</main>
<!---->
</body>
</html>