
.form {
    width: 500px;
    padding: 20px;
}

.form__field {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__btn-submit {
    margin-top: 10px;
}

.avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}